<section>
  <div class="container py-5 d-none d-md-block">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-sm-2">
        <div class="">
          <a
            class="nav-link mx-2"
            style="width: 2.5rem"
            href="#"
            target="_blank"
          >
            <img
              src="assets/images/icons/telegram-icon.svg"
              alt="social icon"
              class="w-100"
            />
          </a>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="">
          <a
            class="nav-link mx-2"
            style="width: 2.5rem"
            href="javascript:void(0)"
            target="_blank"
          >
            <img
              src="assets/images/icons/instagram-icon.svg"
              alt="social icon"
              class="w-100"
            />
          </a>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="">
          <a
            class="nav-link mx-2"
            style="width: 2.5rem"
            href="#"
            target="_blank"
          >
            <img
              src="assets/images/icons/twitter-icon.svg"
              alt="social icon"
              class="w-100"
            />
          </a>
        </div>
      </div>
      <div class="col-sm-2">
        <a
          class="nav-link mx-2"
          style="width: 2.5rem"
          href="javascript:void(0)"
          target="_blank"
        >
          <img
            src="assets/images/icons/discord-icon.svg"
            alt="social icon"
            class="w-100"
          />
        </a>
      </div>
      <div class="col-sm-4 px-5">
        <h1 class="fs-lg lh-1 me-3">Connect with Us</h1>
      </div>
    </div>
  </div>
  <div class="container py-5 d-block d-md-none">
    <div
      class="row d-flex align-items-center justify-content-center d-block d-lg-none"
    >
      <div class="col-sm-4">
        <h1 class="fs-lg lh-1">Connect with Us</h1>
      </div>
      <div class="col-2">
        <div class="">
          <a class="mx-2" style="width: 2.5rem" href="#" target="_blank">
            <img
              src="assets/images/icons/telegram-icon.svg"
              alt="social icon"
              class="w-100"
            />
          </a>
        </div>
      </div>
      <div class="col-2">
        <div class="">
          <a
            class="mx-2"
            style="width: 2.5rem"
            href="javascript:void(0)"
            target="_blank"
          >
            <img
              src="assets/images/icons/instagram-icon.svg"
              alt="social icon"
              class="w-100"
            />
          </a>
        </div>
      </div>
      <div class="col-2">
        <div class="">
          <a class="mx-2" style="width: 2.5rem" href="#" target="_blank">
            <img
              src="assets/images/icons/twitter-icon.svg"
              alt="social icon"
              class="w-100"
            />
          </a>
        </div>
      </div>
      <div class="col-2">
        <a
          class="mx-2"
          style="width: 2.5rem"
          href="javascript:void(0)"
          target="_blank"
        >
          <img
            src="assets/images/icons/discord-icon.svg"
            alt="social icon"
            class="w-100"
          />
        </a>
      </div>
    </div>
  </div>
</section>
