<section style="background-color: white">
  <div class="container">
    <div class="row py-4">
      <div class="col-12 col-md-3">
        <div
          class="d-flex justify-content-center align-items-center overflow-hidden pb-3 pb-md-0"
        >
          <img
            src="assets/images/home/picture4.jpg"
            class="flex-shrink-0"
            style="height: 18rem"
            alt="..."
          />
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div
          class="d-flex justify-content-center align-items-center overflow-hidden pb-3 pb-md-0"
        >
          <img
            src="assets/images/home/picture3.jpg"
            class="flex-shrink-0"
            style="height: 18rem; width: 22rem"
            alt="..."
          />
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div
          class="d-flex justify-content-center align-items-center overflow-hidden pb-3 pb-md-0"
        >
          <img
            src="assets/images/home/picture2.jpg"
            class="flex-shrink-0"
            style="height: 18rem; width: 22rem"
            alt="..."
          />
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div
          class="d-flex justify-content-center align-items-center overflow-hidden pb-3 pb-md-0"
        >
          <img
            src="assets/images/home/picture1.jpg"
            class="flex-shrink-0"
            style="height: 18rem; width: 22rem"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
</section>
