<section class="inspiration my-0 my-sm-4">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-sm-5 px-5">
      <div class="px-5">
        <h1 class="text-gray fs-lg pt-5 mb-4">Inspiration</h1>
        <p class="text-gray">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum saepe
          tempora quasi iste ea fugiat est quidem hic accusantium. Recusandae
          rem totam esse voluptates voluptas quas voluptatum necessitatibus iste
          saepe?
        </p>
        <p class="text-gray">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum saepe
          tempora quasi iste ea fugiat est quidem hic accusantium. Recusandae
          rem totam esse voluptates voluptas quas voluptatum necessitatibus iste
          saepe?
        </p>
        <p class="text-gray">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum saepe
          tempora quasi iste ea fugiat est quidem hic accusantium. Recusandae
          rem totam esse voluptates voluptas quas voluptatum necessitatibus iste
          saepe?
        </p>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="">
        <img
          src="assets/images/home/bar-image5.jpg"
          class="d-block w-100"
          style="height: 34rem"
          alt="..."
        />
      </div>
    </div>
  </div>
</section>
