<section class="our-story mb-0 mb-sm-4">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-sm-5 px-md-5">
      <div class="px-3 px-md-5">
        <h1 class="text-white fs-lg pt-5 mb-4">Our Story</h1>
        <p class="text-white">
          The term Shisha is derived from the persian word "Shishe".
        </p>
        <p class="text-white">
          We are a very fine and creative shisha services company who's aim is
          to make shisha smoking a lifestyle, give unforgetable experience and a
          classic tasts of luxury with our perfectly mixed combination of
          flavors living our customers at wow.
        </p>
        <p class="text-white">
          We have about 7 years in the mixing and creating signature flavours
          which amounted to the best experience ever
        </p>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="">
        <img
          src="assets/images/home/bar-image2.jpg"
          class="d-block w-100"
          style="height: 34rem"
          alt="..."
        />
      </div>
    </div>
  </div>
</section>
