@font-face {
  font-family: 'avenir-black';
  src: url('../assets/fonts/avenir-black.woff') format('woff');
  font-weight: 900;
}
@font-face {
  font-family: 'avenir-heavy';
  src: url('../assets/fonts/avenir-heavy.woff');
  font-weight: 800;
}
@font-face {
  font-family: 'avenir-medium';
  src: url('../assets/fonts/avenir-medium.woff');
  font-weight: 800;
}

@font-face {
  font-family: 'avenir-roman';
  src: url('../assets/fonts/avenir-roman.woff');
  font-weight: 500;
}

@font-face {
  font-family: 'poppins-regular';
  src: url('../assets/fonts/poppins-regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'poppins-bold';
  src: url('../assets/fonts/poppins-bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'poppins-semibold';
  src: url('../assets/fonts/poppins-semibold.ttf');
  font-weight: 600;
}
