.welcome {
  min-height: 40rem;
  // display: table-cell;
  padding-top: 15rem;
  vertical-align: middle;
  background-image: url("~src/assets/images/home/picture5.jpg") !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
// .highter {
//   color: white;
//   position: absolute;
//   top: 350px;
//   left: 350px;
//   z-index: 4;
// }
// .one-image {
//   width: 100%;
// }
