<section class="welcome" style="margin-top: 6rem">
  <div
    class="row welcome-text d-flex align-items-center justify-content-center"
  >
    <div class="col-12 col-md-6"></div>
    <div class="col-12 col-md-6">
      <h2 class="text-white fs-2">Testing</h2>
      <p class="about-color fs-5">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores
        voluptate, culpa nostrum quaerat veritatis quae suscipit vero minus
        nulla, modi commodi blanditiis reiciendis, ab fugit quod. At dolorum
        ducimus ex!
      </p>
      <p class="about-color fs-5">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores
        voluptate, culpa nostrum quaerat veritatis quae suscipit vero minus
        nulla, modi commodi blanditiis reiciendis, ab fugit quod. At dolorum
        ducimus ex!
      </p>
    </div>
  </div>
</section>

<!-- <section style="border: 2px solid red">
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, veritatis
    magnam beatae nemo id asperiores, cupiditate possimus, ullam voluptatibus
    sint quidem repellat! Reprehenderit nulla animi minima, vero repellendus
    repellat perferendis.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima corrupti
    delectus accusantium vero id. Nam reiciendis est rerum culpa voluptatem
    sapiente quia quasi iure architecto explicabo. Unde molestiae autem eius?
  </p>
</section>
<div class="container">
  <div class="row my-3">
    <div class="col-3">
      <h2>testing</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione,
        veritatis magnam beatae nemo id asperiores, cupiditate possimus, ullam
        voluptatibus sint quidem repellat! Reprehenderit nulla animi minima,
        vero repellendus repellat perferendis.
      </p>
    </div>
    <div class="col-6">
      <h2>testing</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione,
        veritatis magnam beatae nemo id asperiores, cupiditate possimus, ullam
        voluptatibus sint quidem repellat! Reprehenderit nulla animi minima,
        vero repellendus repellat perferendis.
      </p>
    </div>
    <div class="col-3" style="background-color: aqua">
      <h2>testing</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione,
        veritatis magnam beatae nemo id asperiores, cupiditate possimus, ullam
        voluptatibus sint quidem repellat! Reprehenderit nulla animi minima,
        vero repellendus repellat perferendis.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-9">
      <h2>testing</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione,
        veritatis magnam beatae nemo id asperiores, cupiditate possimus, ullam
        voluptatibus sint quidem repellat! Reprehenderit nulla animi minima,
        vero repellendus repellat perferendis.
      </p>
    </div>
    <div class="col-3" style="background-color: aqua">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione,
        veritatis magnam beatae nemo id asperiores, cupiditate possimus, ullam
        voluptatibus sint quidem repellat! Reprehenderit nulla animi minima,
        vero repellendus repellat perferendis.
      </p>
    </div>
  </div>
</div> -->
