@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/_mixins.scss";

.wrapper {
  background-image: url("~src/assets/images/coming-soon/large-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  .coming-soon-bg {
    height: 100vh;
    width: 100vw;
    position: absolute;

    z-index: 2;

    .title {
      font-size: 2.8rem;
      white-space: nowrap;
      @include media-breakpoint-up(md) {
        font-size: 5.5rem;
      }
    }
    .message {
      margin-top: 20rem;
      @media (min-width: 1200px) and (max-width: 1400px) {
        margin-top: 18rem !important;
      }
      @media (min-width: 992px) and (max-width: 1200px) {
        margin-top: 17rem !important;
      }

      @media (min-width: 550px) and (max-width: 992px) {
        margin-top: 34rem !important;
      }

      @media (min-width: 380px) and (max-width: 500px) {
        margin-top: 28rem !important;
      }

      @include media-breakpoint-down(sm) {
        margin-top: 20rem;
      }
    }
  }

  @media only screen and (max-device-width: 767px) {
    background-image: url("~src/assets/images/coming-soon/mobile-bg.svg") !important;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
