<div class="d-flex justify-content-center count-wrapper">
  <div
    class="digit-wrapper d-flex flex-column p-2"
    style="margin-right: 0.875rem"
  >
    <h1 class="mb-0 text-center semibold-p-font">
      {{ daysLeft }}{{ daysRight }}
    </h1>
    <p class="mb-0 text-center regular-p-font">Days</p>
  </div>
  <div
    class="digit-wrapper d-flex flex-column p-2"
    style="margin-right: 0.875rem"
  >
    <h1 class="mb-0 text-center semibold-p-font">
      {{ hoursLeft }}{{ hoursRight }}
    </h1>
    <p class="mb-0 text-center regular-p-font">Hours</p>
  </div>
  <div
    class="digit-wrapper d-flex flex-column p-2"
    style="margin-right: 0.875rem"
  >
    <h1 class="mb-0 text-center semibold-p-font">
      {{ minutesLeft }}{{ minutesRight }}
    </h1>
    <p class="mb-0 text-center regular-p-font">Mins</p>
  </div>
  <div class="digit-wrapper d-flex flex-column p-2">
    <h1 class="mb-0 text-center semibold-p-font">
      {{ secondsLeft }}{{ secondsRight }}
    </h1>
    <p class="mb-0 text-center regular-p-font">Sec</p>
  </div>
</div>
