<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-12 mb-4">
        <div class="footer-logo">
          <img src="assets/images/footer/footer-logo.svg" alt="logo" />
        </div>
      </div>
      <div class="col-lg-3 col-6 mb-4">
        <h4 class="title text-gray mb-3">Hours</h4>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-gray">MON: 7:00AM - 12:00 AM </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-gray">TUE: 7:00AM - 12:00 AM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-gray">WED: 7:00AM - 12:00 AM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-gray">THUR: 7:00AM - 12:00 AM </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-gray">FRI: 7:00AM - 12:00 AM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-gray">SAT & SUN: 7:00AM - 2:00 AM</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-6 mb-4">
        <h4 class="title text-gray mb-3">Resources</h4>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-gray">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-gray">Menus</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-gray"> Meet The Team</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-12">
        <h4 class="title text-gray mb-3">Address</h4>
        <p class="text-gray">1501</p>
        <p class="text-gray">City Tower 2</p>
        <p class="text-gray">Trade Center 1, SZR</p>
        <p class="text-gray">P.O BOX: 450535</p>
        <p class="text-gray">
          Call Us: <span>+971 56 8563317/ +971 4 4919369</span>
        </p>
        <ul class="navbar-nav my-4 flex-row">
          <li class="nav-item me-3">
            <a
              class="nav-link"
              href="https://www.facebook.com/search/top?q=7hookah%20dxb"
              target="_blank"
            >
              <img [src]="facebookImg" />
            </a>
          </li>
          <li class="nav-item mr-3">
            <a
              class="nav-link"
              href="https://www.instagram.com/seven.hookah7/?igshid=YmMyMTA2M2Y%3D"
              target="_blank"
            >
              <img [src]="instagramImg" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="py-4 px-1 my-0">
    <p class="text-center text-gray copy-right">
      Website Design By: <span class="text-yellowish">Lilian Nabawesi</span>
    </p>
    <p class="text-center text-gray copy-right">
      © 2022 Seven Hookar | All rights reserved.
    </p>
  </div>
</section>
