<section class="landing-page-bg">
  <div class="main-container">
    <div class="main-content">
      <app-coming-soon></app-coming-soon>
      <!-- <app-navbar-section></app-navbar-section> -->
      <!-- <app-welcome-section></app-welcome-section> -->
      <!-- <app-gallery></app-gallery> -->
      <!-- <app-our-story-section></app-our-story-section> -->
      <!-- <app-offers-section></app-offers-section> -->
      <!-- <app-hello-section></app-hello-section> -->
      <!-- <app-inspiration-section></app-inspiration-section> -->
      <!-- <app-connect-section></app-connect-section> -->
      <!-- <app-footer></app-footer> -->
    </div>
  </div>
</section>
